@import url(http://fonts.googleapis.com/css?family=Abel);
/*
#324D5C
#46B29D
#F0CA4D
#E37B40
#DE5B49
*/

body {
  font-family: 'Abel', sans-serif;
  /* Pattern from http://subtlepatterns.com/seamless-paper-texture by Merry, CC BY-SA 3.0 */
  background: url('../img/seamless_paper_texture.png');
  font-weight: 400;
  color: #324D5C;
}

body p, body ul {
  font-size: 30pt;
  line-height: 34pt;

}

span.larger {
  font-size: 40pt;
  line-height: 44pt;
}

span.largest {
  font-size: 60pt;
  line-height: 64pt;
}

ul { display: inline-block; }

li { text-align: left; }

small {
  font-size: 70%;
}

pre {
  margin-left: 0;
  margin-right: 0;

  border-style: none;
  background-color:inherit;
  line-height: 120%;
  font-weight: normal;
  font-size: 1em;
}

pre code {
  display:block;
  padding: 10px;
  text-align: left;
}

p code {
  font-size: 80%;
  vertical-align: middle;
  display:inline-block;
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
  font-weight: 800;
}

img {
  margin: 10px;
  max-height: 480px;
  max-width: 90%;
}

div.slide h1 {
  font-size: 3.5em;
  text-align: center;
  margin: 10px auto;
  padding: 0;
  color: #324D5C;
  text-shadow: 0px 2px 2px #FFFEF5;
}

p a:link,
p a:visited,
ul a:link,
ul a:visited {
  color: #DE5B49;
  /*text-decoration: underline;*/
}

.slide { text-align: center;}

.slide p {
  padding: 10px;
  margin: 0 2em;
  background: rgba(70, 178, 157, 0.2); /*#46B29D;*/
}

.map {
  width: 90%;
  max-width: 800px;
  height: 400px;
  border: 2px solid white;
  margin: 10px auto;
}

.button {
  border: 2px solid white;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 10px;
  transition: all 0.3s ease 0s;
  width: 16.795%;
  text-align: center;
  font-size: 1em;
  background: none repeat scroll 0 0 #2ECC71;
}

.button:hover {
  background: none repeat scroll 0 0 #00993E;
}

.button:active {
  background: none repeat scroll 0 0 #2ECC71;
  border: 2px solid #00993E;
}

.hide {
  display: none;
}

p.display {
  font-family: monospace;   
}

.attr {
  position: absolute;
  bottom: 1em;
  right: 0.5em;
  font-size: 0.5em;
}

.big-image {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-left: -20px;
}

.big-image img {
  position: relative;
  margin: auto;
  width: 90%;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  transform: translateY(-50%);
}

p.caption {
  font-size: smaller;
  padding: 0;
  background: rgba(240, 202, 77, 0.3);
}